.badge {
  background-color: tomato;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  /*사각형을 원으로 만들고 싶으면 사각형width의 1/2값을 넣으면 돼*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
